<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'contact.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
	<title>Contact Me</title>
</head>
<body>

	<div class="smedia">
		<a href="#"><i class="fab fa-instagram"></i></a>
		<a href="#"><i class="fab fa-telegram"></i></a>
		<a href="#"><i class="fab fa-whatsapp"></i></a>
		<a href="#"><i class="far fa-envelope"></i></a>
	</div>

	<div class="smediatext">
		<a href="https://www.instagram.com/nurlyytan/"  class="insta">https://www.instagram.com/nurlyytan/</a>
		<a href="https://t.me/nurlytan_berikbol" class="telega">https://t.me/nurlytan_berikbol</a>
		<a href="" class="wapp">+77476786562</a>
		<a href="mailto:nurik.bro.2000@gmail.com" class="mail">nurik.bro.2000@gmail.com</a>
	</div>

	<nav>
		<div class="logo">
			<a href="home"><img src="{% static 'img/logo2.png' %}"></a>
		</div>
		<ul class="nav-links">
			<li><a href="about">About</a></li>
			<li><a href="gallery">Gallery</a></li>
			<li><a href="contact">Contact</a></li>
			<li><a href="#">Projects</a></li>
		</ul>
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	
	<div class="zagolovok">
		<h1>My contacts</h1>
	</div>



	<script src="{% static 'app.js' %}"></script>
</body>
</html>